.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
linux/flutter/ephemeral/
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h
linux/flutter/generated_plugins.cmake
